* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url("images/bg.jpg"); }

#logo {
  text-align: center;
  padding: 10px 0px 5px 0px; }

a #logo:hover {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px; }

#toprow {
  background-image: url("images/bgtop.png");
  width: 100%; }

hr {
  border: 0;
  border-bottom: 1px dashed #000;
  background: transparent;
  padding: 0px;
  margin: 0px; }

#youtube {
  background: url("images/youtube.png");
  height: 570px; }

.navwords {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  padding: 0px 0px 0px 0px;
  margin: 0px; }

li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 5px 15px;
  margin: 0px 20px; }

a {
  padding: 3px 0px 4px 0px;
  color: black; }

a li:hover {
  /*font-weight: 900;*/
  background-color: rgba(255, 255, 255, 0.5);
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s; }

ul {
  text-align: center;
  padding: 0px;
  margin: 0px; }
